@import "~antd/dist/antd.css";

.grid {
  display: inline;
}

.grid-item {
  height: 40px;
  width: 40px;
  border: 1px solid grey;
}

.grid-item-found {
  background-color: green;
  transition: background-color ease-out 200ms;
}

.grid-item-start {
  background-color: yellow;
}
